.central-steps h3 { color: #402b12; font-weight:700; }
.central-steps p { color: #5a3f21; line-height:1.45; max-width:86%; margin:0 auto; }

.hiw-step {
  max-height: 100%;
  position: relative;
  z-index: 4;
  overflow: visible;
  box-shadow:
    0 28px 60px rgba(18,12,6,0.14),
    inset 0 -12px 28px rgba(230,200,120,0.03);
  transition: transform .28s cubic-bezier(.2,.9,.3,1), box-shadow .28s ease, border-left-color .28s ease;
}

.hiw-step::after {
  content: "";
  position: absolute;
  width: 90%;           /* zvětšit čáru */
  height: 100%;           /* zvětšit čáru */
  left: 40%;
  background: url("/assets/cara.png") no-repeat center/contain;
  pointer-events: none;
  z-index: -1;
  opacity: 1;
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.3)); /* zvýraznění */
  transition: transform .3s ease, filter .3s ease;
}

.hiw-step:hover::after {
  filter: drop-shadow(0 0 10px rgba(190,127,24,0.6)); /* zlaté zvýraznění při hoveru */
}

/* poslední krok nepotřebuje čáru */
.hiw-step:last-child::after {
  display: none;
}

.hiw-step:hover {
  transform: translateY(-8px);
  border-left-color: #be7f18;
  box-shadow:
    0 44px 80px rgba(18,12,6,0.20),
    inset 0 -18px 40px rgba(230,190,100,0.05);
}

/* ===== Ikony v krocích ===== */
.hiw-step-icon {
  width: 100%;
  position: relative;
}

.hiw-step-icon::before {
  content: "";
  position: relative;
  inset: -8px; /* zkrácený zápis pro top/right/bottom/left */
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(212,160,23,0.10);
  z-index: -1;
}

.hiw-step-icon img {
  max-width: 80%;
  max-height: 60%;
  height: auto;
  width: auto;
  padding-top: 10%;
}

.hiw-step-textbox {
  max-width: 85%;
  height: auto;
  width: auto;
  padding-bottom: 10%;
  margin-left: 10%;
}

.central-steps .hiw-step:nth-child(1) .hiw-step-icon {
  left: 5%;
}

.central-steps .hiw-step:nth-child(4) .hiw-step-icon {
  padding-top: 0;
  padding-bottom: 5%;
}

.hiw-step.arrow-up::after {   transform: scaleY(-1) rotate(-10deg); top:5%;}
.hiw-step.arrow1-down::after { transform: rotate(-10deg); left:50%; top:-5%;}
.hiw-step.arrow2-down::after { transform: rotate(-10deg); top: -10%;}

.hiw-text-1 {
  margin-left: 5%;
  margin-top: 40%;
}

.hiw-text-2 {
  margin-top: 10%;
}

.hiw-text-3 {
  margin-top: 20%;
}

.hiw-text-4 {
  margin-top: 10%;
}

@media (max-width:1100px){
  .hiw-step::after { display: none; }
}
@media (max-width:820px){
  .hiw-step::after { display: none; }
  .central-steps .hiw-step:nth-child(4) .hiw-step-icon {
  padding-bottom: 15%;
  }
  .central-steps .hiw-step:nth-child(1) .hiw-step-icon {
  padding-top: 15%;
  }
.hiw-text-2 {
  margin-top: 20%;
  }
}
@media (max-width:480px){
  .hiw-step::after { display: none; }
}